.cont {
  width: 200px;
  height: 200px;
  background-color: rgb(226, 132, 9);
  position: relative;
  top: 50%;
}
.box {
  width: 10%;
  height: 10%;
  background-color: green;
}
.cont:hover {
  animation: rotate 3000ms ease-in-out;
  transform-origin: top right;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
